body {
    font-family: sans-serif;
}

input {
    background-color: #9db2bf1f;
    border: none;
    border-radius: 15px 15px 0 0;
    color: #DDE6ED;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    height: 100px;
    margin: auto;
    text-align: center;
    transition: 0.5s;
    width: 1000px;
}

p {
    color: #27374db7;
    /* font-family: Montserrat; */
    text-align: center;
    /* text-shadow: 4px 10px 10px #00000069; */
}

button:hover {
    background-color: #27374d;
}

button:focus {
    outline: solid 1px white;
}

input:focus {
    background-color: #9db2bf80;
    outline: none;
}

input::placeholder {
    color: #dde6ed91;
    font-weight: 100;
}

.bg-image {
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg?cs=srgb&dl=pexels-magda-ehlers-2114014.jpg&fm=jpg");
    filter: blur(4px);
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.inputs-container {
    margin-top: 50px;
}

.button-inputs {
    text-align: center;
}


.unit-button,
.submit-button {
    background-color: #27374d86;
    border: none;
    color: #DDE6ED;
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    height: 50px;
    margin: 5px;
    transition: 0.3s;
    width: 497.5px;
}

.unit-button {
    border-radius: 0 0 0 15px;
    margin-right: 0;
}

.submit-button {
    border-radius: 0 0 15px 0;
}

.results-top {
    margin-top: 4rem;
}

.time-parg {
    display: block;
    color: #27374db7;
    font-family: 'Red Hat Mono', monospace;
    font-size: 5rem;
    margin: auto;
    width: 600px;
}

.Toastify__toast--error {
    width: 350px;
}


.result-container {
    font-family: Montserrat;
}

.wind-box {

    width: 30%;
    font-size: 4rem;
    margin-left: 10%;

}

.wind-box p {
    /* outline: 1px solid black; */
    background-color: #27374d33;
    width: 100%;
    margin: 0;
}

/* .wind-box>div:nth-child(odd) {
    background-color: #27374d33;
} */

.wind-speed {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wind-speed div {
    margin: 0;
    width: 50%;
    padding: 0;
    display: inline-block;
    /* background-color: #27374d33; */
}

.wind-speed p {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}