body,
html {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg?cs=srgb&dl=pexels-magda-ehlers-2114014.jpg&fm=jpg");
}

.inputs {
    text-align: center;
}

button,
select {
    width: 500px;
    height: 50px;
    margin: 5px;
    font-size: 2rem;

    text-align: center;
    background-color: rgba(204, 204, 204, 0.178);
    font-family: Montserrat, sans-serif;
    font-weight: light;

}

select {
    margin-right: 0;
    border-radius: 0 0 0 15px;
    border: none;

}

select option {
    background-color: rgba(204, 204, 204, 0.178);
}

button {
    border-radius: 0 0 15px 0;
    border: none;
    padding: 0;
}


input {
    font-family: Montserrat, sans-serif;
    color: rgba(250, 53, 53, 0.671);
    /* caret-color: transparent; */
    width: 1000px;
    margin: auto;
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    border-radius: 15px 15px 0 0;
    border: none;
    display: block;
    /* background-color: white; */
    background-color: rgba(204, 204, 204, 0.178);
}

input:focus {
    outline: none;

}

input::placeholder {
    color: rgba(204, 204, 204, 0.651);
    font-weight: 100;
}

.results {
    margin: auto;

}